
body.signin-body {
    background-color: rgb(215, 238, 247);
    
}
.container.signin-container {
    margin-top:5%;
}

.col-8 {
   margin-bottom: 2rem;
}

.card.signin-card {
    padding:40x 0px 20px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
.card-body {
    margin: auto;
  
}
img.signin-image {
    
    padding: 2rem 2rem 2rem;
    margin:auto;
    display: block;
}

button.sighin-btn {
    color:cornsilk;
    background-color: crimson;
    width: 100%;
    margin-bottom: 1rem;
}

a.creat-new-account {
    font-size: large;
    text-align: center;
    display: block;
    margin-top:1rem;

}
